<h3>
	Educación
	<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addEducationModal"><i class="bi bi-plus-circle"></i></button>
</h3>

<div class="row" id="cero">




    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul *ngFor="let education of education">
            <li><h3> {{education.certificate}}  </h3> - <h3> {{education.institute}} </h3> - <h3> {{education.year }} </h3> 
                
				
				                       
                            

							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editEducationModal" (click)="onOpenModal('edit', education)">
								<i class="bi bi-pencil"></i>
							  
							</button >
							<button type="button" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#deleteEducationModal" (click)="onOpenModal('delete', education)" > 
							  <i class="bi bi-trash"></i>
							
							</button>
               
				
            </li>

        </ul>
    </div>


</div>

<!-- Modal for Add Education -->
<div class="modal fade" id="addEducationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addEducationModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEducationModal">Add Education</h5>
                <button type="button" class="btn-close warning" data-bs-dismiss="modal" aria-label="Close">
                
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">

                    <label for="certificate">Certificate </label><br>
                    <input ngModel type="text" name="certificate"  class="form-control">
                    <label for="institute">Institute</label><br>
                    <input ngModel type="text" name="institute"  class="form-control">
                    <label for="year">Year</label><br>
                    <input ngModel type="text" name="year"  class="form-control">                    
                    <div class="modal-footer">
                        <button  type="button" id="add-education-modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div> 

<!--Edit Modal -->
<div class="modal fade" id="editEducationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-labelledby="editEducationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="editEducationModalLabel">Edit Education {{editEducation?.certificate}}</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
             
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="certificate">Certificate</label>
                   <input type="text" ngModel="{{editEducation?.certificate}}" name="certificate" class="form-control" id="certificate"  placeholder="Certificate" Required />
                </div>
                <input type="hidden" ngModel="{{editEducation?.ideducation}}" name="ideducation" class="form-control" id="ideducation" placeholder="">                
                <div class="form-group">
                   <label for="institute">Institute</label>
                   <input type="text" ngModel="{{editEducation?.institute}}" name="institute" class="form-control" id="institute" placeholder="Institute" Required />
                </div>
                <div class="form-group">
                   <label for="year">Year</label>
                   <input type="text" ngModel="{{editEducation?.year}}" name="year" class="form-control" id="year" placeholder="Year" Required />
                </div>                
                <div class="modal-footer">
                   <button type="button" id="edit-education-modal" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onEditEducation(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
  

<!-- Delete Modal -->
<div class="modal fade" id="deleteEducationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Certificate</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
             
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete certificate <strong>{{deleteEducation?.certificate}}</strong> ?</p>
             <div class="modal-footer">
                <button type="button" id="delete-education-modal" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button (click)="onDeleteEducation(deleteEducation!.ideducation)" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
