.banner img {
    display: flex;
    width: 100%;
    max-height: 400px;
    border-radius: 10%;
    padding: 8px;
}

.imgprofile img {
    display: flex;        
    margin-top: -100px;
    margin-left: 5vh;
}

.name {
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
}

.name p {
    font-size: 2.1em;
    font-weight: bold;
}

.title {
    font-size: 1.8em;
    font-weight: bold;
}

.card-text {
    font-size: 25px;
}

.cardcustom {
    max-width: 97%;
    align-self: auto;
    margin: 0px 50px;
}