<br>
<div class="projecttitle">
<h3>Project's</h3>
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addProjectModal"><i class="bi bi-plus-circle"></i></button>
</div>
<br>
<br>
<div class="row row-cols-1 row-cols-md-2 g-4" >
   <div class="col" *ngFor="let project of project">
     <div class="card cardproject">
       <img [src]="project.urlimgproject" class="card-img-top" alt="{{project.projectname}}">
       <div class="card-body bodycard">
         <div class="card-title headertitleproj">
         <h5>{{project.projectname}}</h5>
         <ul>
            <li><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editProjectModal" (click)="onOpenModal('edit', project)">
            <i class="bi bi-pencil"></i>        
         </button ></li>
         <li><button type="button" class="btn "  data-bs-toggle="modal" data-bs-target="#deleteProjectModal" (click)="onOpenModal('delete', project)" > 
           <i class="bi bi-trash"></i>      
         </button></li>
         </ul>
         </div>
         <p class="card-text">{{project.projectdescription}}</p>
         <a [href]="project.urlproject">VISITAR</a>
       </div>
     </div>   
 </div>



<!-- Modal for Add Project -->
<div class="modal fade" id="addProjectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addProjectModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProjectModal">Add Project</h5>
                <button type="button" class="btn-close warning" data-bs-dismiss="modal" aria-label="Close">
                
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddProject(addForm)">

                    <label for="projectname">Project Name</label><br>
                    <input ngModel type="text" name="projectname"  class="form-control">
                    <label for="projectdescription">Description</label><br>
                    <input ngModel type="text" name="projectdescription"  class="form-control">
                    <label for="urlproject">URL</label><br>
                    <input ngModel type="text" name="urlproject"  class="form-control">
                    <label for="urlimgproject">URL Image Project</label><br>
                    <input ngModel type="text" name="urlimgproject"  class="form-control">                    
                    <div class="modal-footer">
                        <button  type="button" id="add-project-modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div> 

<!--Edit Modal -->
<div class="modal fade" id="editProjectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-labelledby="editProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="editProjectModalLabel">Edit Project {{editProject?.projectname}}</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
             
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="projectname">Project Name</label>
                   <input type="text" ngModel="{{editProject?.projectname}}" name="projectname" class="form-control" id="projectname"  placeholder="Project Name" Required />
                </div>
                <input type="hidden" ngModel="{{editProject?.idproject}}" name="idproject" class="form-control" id="idproject" placeholder="">                
                <div class="form-group">
                   <label for="projectdescription">Description</label>
                   <input type="text" ngModel="{{editProject?.projectdescription}}" name="projectdescription" class="form-control" id="description" placeholder="Description" Required />
                </div>
                <div class="form-group">
                   <label for="urlproject">URL</label>
                   <input type="text" ngModel="{{editProject?.urlproject}}" name="urlproject" class="form-control" id="urlproject" placeholder="URL" Required />
                </div>      
                <div class="form-group">
                    <label for="projectimgurl">URL Image Project</label>
                    <input type="text" ngModel="{{editProject?.urlimgproject}}" name="urlimgproject" class="form-control" id="urlimgproject" placeholder="Image URL" Required />
                 </div>             
                <div class="modal-footer">
                   <button type="button" id="edit-project-modal" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onEditProject(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
  

<!-- Delete Modal -->
<div class="modal fade" id="deleteProjectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteProjectModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteProjectModelLabel">Delete Project</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
             
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete this project: <strong>{{deleteProject?.projectname}}</strong> ?</p>
             <div class="modal-footer">
                <button type="button" id="delete-Project-modal" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button (click)="onDeleteProject(deleteProject!.idproject)" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
