body {	
	background-image: url(./assets/img/web-3706551_1920.jpg);
	background-position: center center;	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin-top: 15px;
	height: 100vh;
}